[workspace]
name = "pixi-browse"
channels = ["conda-forge"]
platforms = ["osx-arm64", "osx-64", "linux-64", "win-64"]

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."
demo = "vhs .github/assets/demo.tape"

[dependencies]
python = ">=3.13"
pip = "*"
setuptools = ">=61"
setuptools-scm = "*"
textual = ">=7.5.0,<8"
py-rattler = ">=0.22.0,<0.23"
typer = ">=0.23.1,<0.24"
vhs = "*"

[feature.test.dependencies]
pytest = ">=6"
pytest-cov = "*"
mypy = "*"
ty = "*"
[feature.test.tasks]
test = "pytest"
test-coverage = "pytest --cov=pixi_browse --cov-report=xml --cov-report=term-missing"

[feature.build.dependencies]
python-build = "*"
twine = "*"
wheel = "*"
[feature.build.tasks]
build-wheel = "python -m build --no-isolation ."
check-wheel = "twine check dist/*"

[feature.lint.dependencies]
pre-commit = "*"
insert-license-header = "*"
docformatter = "*"
ruff = "*"
prettier = "*"
taplo = "*"
pre-commit-hooks = "*"
typos = "*"
[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run -a"

[feature.py313.dependencies]
python = "3.13.*"

[environments]
default = ["test"]
py313 = ["py313", "test"]
build = ["build"]
lint = { features = ["lint"], no-default-feature = true }
